<% include ../include/header.html%>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form  role="form" class="form-horizontal" method="post" enctype="multipart/form-data"><!--role角色：form   上传图像必须加上enctype="multipart/form-data"这个属性；-->
            <div class="form-group">
                <label for="username" class="control-label col-sm-2">用户名</label>
                <div class="col-sm-10 input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input type="text" class="form-control" id="username" name="username" required><!--不能直接设置宽，在最外层包一个div-->
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-sm-2">密码</label>
                <div class="col-sm-10 input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input type="password" class="form-control" id="password" name="password" required><!--不能直接设置宽，在最外层包一个div-->
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-sm-2">邮箱</label>
                <div class="col-sm-10 input-group"><!--输入组：将小图标和input放在一起，紧紧挨在一起；-->
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input type="text" class="form-control" id="email" name="email" required><!--不能直接设置宽，在最外层包一个div-->
                </div>
            </div>
            <div class="form-group">
                <label for="avatar" class="control-label col-sm-2">头像</label>
                <div class="col-sm-10 input-group"><!--输入组：将小图标和input放在一起，紧紧挨在一起；-->
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-cloud-upload"></span>
                    </span>
                    <input type="file" class="form-control" id="avatar" name="avatar" required><!--不能直接设置宽，在最外层包一个div-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2" style="padding-left: 0">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../include/footer.html%>